.edit-quiz-button::part(base) {
  margin-left: calc(-1 * var(--sl-spacing-x-small));
}

.option-row {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  gap: 8px;
}

sl-form,
sl-form::part(base) {
  display: contents;
}

sl-button[outline]::part(base):not(:hover):not(:active):not(:focus) {
  background-color: rgb(var(--sl-color-gray-50));
}

.question-container,
.question-card {
  &::part(header) {
    transition: background-image 200ms ease;
  }
  &::part(base) {
    transition: border-color 200ms ease;
  }
}

.question-container,
.question-card {
  &::part(base) {
    border-width: 3px;
  }

  &.edit-mode {
    &::part(header) {
      background-color: rgb(var(--sl-color-blue-200));
    }
    &::part(base) {
      border: 3px solid rgb(var(--sl-color-blue-600));
    }
  }
}

.question-card {
  &.edit-mode {
    &::part(base) {
      background-color: rgb(var(--sl-color-blue-200));
      border: 3px solid rgb(var(--sl-color-blue-600));
    }
  }
}

.question-image {
  border: solid var(--sl-input-border-width) rgb(var(--sl-input-border-color));
  border-radius: var(--sl-border-radius-medium);

  img {
    border-radius: var(--sl-border-radius-medium);
  }

  sl-button {
    opacity: 0;
  }

  &:hover {
    sl-button {
      opacity: 1;
    }
  }
}

.question-list-container {
  height: 500px;
}

.question-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
