.edit-quiz-button::part(base) {
  margin-left: calc(-1 * var(--sl-spacing-x-small));
}

.option-row {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  gap: 8px;
}

sl-form,
sl-form::part(base) {
  display: contents;
}

sl-badge::part(base) {
  background-color: var(--badge-bg-color);
  border: 1px solid var(--badge-fg-color);
  color: var(--badge-fg-color);
}

sl-color-picker {
  display: contents;
}

sl-color-picker::part(trigger) {
  &::before {
    background-color: var(--badge-bg-color);
  }
}

sl-button[outline]::part(base):not(:hover):not(:active):not(:focus) {
  background-color: rgb(var(--sl-color-gray-50));
}

.question-container {
  &::part(base) {
    transition: border-color 200ms ease;
    border-width: 4px;
  }

  &.edit-mode::part(base) {
    background-color: rgb(var(--sl-color-primary-50));
    border-color: rgb(var(--sl-color-primary-600));
  }
}

.question-image {
  border: solid var(--sl-input-border-width) rgb(var(--sl-input-border-color));
  border-radius: var(--sl-border-radius-medium);

  img {
    border-radius: var(--sl-border-radius-medium);
  }

  sl-button {
    opacity: 0;
  }

  &:hover {
    sl-button {
      opacity: 1;
    }
  }
}

.question-list-container {
  height: 500px;
}

.question-card::part(base) {
  border-width: 4px;
}

.question-card-active::part(base) {
  background-color: rgb(var(--sl-color-primary-50));
  border-color: rgb(var(--sl-color-primary-600));
}

.question-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
