.edit-quiz-button::part(base) {
  margin-left: calc(-1 * var(--sl-spacing-x-small));
}

.option-row {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  gap: 8px;

  &.add-option {
    gap: 16px;
  }
}

sl-form,
sl-form::part(base) {
  display: contents;
}

sl-badge::part(base) {
  background-color: var(--badge-bg-color);
  border: 1px solid var(--badge-fg-color);
  color: var(--badge-fg-color);
}

sl-color-picker {
  display: contents;
}

sl-color-picker::part(trigger) {
  &::before {
    background-color: var(--badge-bg-color);
  }
}
