:host {
  display: contents;
}

sl-avatar {
  line-height: 3.5rem;
  margin-top: -0.125rem;
}

sl-card::part(body) {
  padding: 0.5rem 1.25rem;
}

.content,
.suffix {
  color: var(--sl-color-neutral-950);
}

.content {
  min-height: 4rem;
}
