:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags {
  .tag-input {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
}

sl-spinner {
  font-size: 1rem;
  --indicator-color: white;
}
