<div class="flex flex-col gap-2 pb-12 justify-stretch w-full max-w-4xl">
    <sl-card>
        <div class="flex flex-row justify-between">
            <div class="flex flex-col justify-center">
                <span class="text-2xl font-semibold">Hey, Vytautas 👋</span>
            </div>
            <div class="flex flex-row gap-4 text-l">
                <sl-badge class="m-auto">{{ currentDate | date:'mediumTime' }}</sl-badge>
                <sl-avatar style="line-height: 56px;">
                    <sl-icon slot="icon" name="house" class="text-xl"></sl-icon>
                </sl-avatar>
            </div>
        </div>
    </sl-card>
    <div class="flex flex-col gap-2">
        <sl-card>
            <div slot="header" class="font-semibold">
                Assessments in progress
            </div>
            <div class="grid gap-4">
                <div *ngFor="let asm of inProgress; let i = index">
                    <a [routerLink]="['/quizzes', asm.quizId, 'assessment', asm.id]" style="color: rgb(var(--sl-color-primary-600))">🟡 ({{ asm.id }}) {{ asm.quizTitle }}</a>
                </div>
            </div>
        </sl-card>
        <sl-card>
            <div slot="header" class="font-semibold">
                Latest quizzes
            </div>
            <div class="grid gap-4">
                <div *ngFor="let quiz of latest; let i = index">
                    <a [routerLink]="['/quizzes', quiz.id]" style="color: rgb(var(--sl-color-primary-600))">🧭 {{ quiz.title }}</a>
                </div>
            </div>
        </sl-card>
    </div>
</div>