:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

sl-radio {
  margin-bottom: 0;
}

sl-radio,
sl-checkbox {
  &::part(base) {
    display: flex;
    min-height: 3rem;
  }
  &::part(label) {
    line-height: 1.25rem;
  }
}

.time-left::part(base) {
  font-size: 1rem;
  width: 5rem;
}

.question-card::part(header) {
  background-image: none;
}

.question-card-header {
  display: flex;
  white-space: nowrap;
}

.step-indicator-wrapper {
  flex: 1;
  border: solid 1px rgb(var(--sl-color-gray-200));
  border-radius: var(--sl-border-radius-medium);
}

.step-indicator {
  height: 100%;
  color: rgb(var(--sl-color-gray-50));
  background-image: linear-gradient(
    to right,
    rgb(var(--sl-color-green-200)) 0%,
    rgb(var(--sl-color-green-700)) 33%,
    rgb(var(--sl-color-green-500)) 66%,
    rgb(var(--sl-color-green-200)) 100%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite alternate-reverse;

  width: calc(100% * (var(--question-index) / var(--question-count)));
  border-radius: var(--sl-border-radius-medium);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
