<div class="flex flex-col gap-2 pb-12 justify-stretch w-full max-w-4xl" *ngIf="activeQuestion">
  <sl-card>
    <div class="flex flex-row items-center justify-between">
      <span class="text-2xl">{{ settings.quizTitle }}</span>
      <a (click)="handleAbandon()" style="cursor: pointer; color: rgb(var(--sl-color-danger-600))">Abandon</a>
    </div>
  </sl-card>
  <sl-card class="question-card" [style]="{ '--question-count': questions.length, '--question-index': activeQuestionIndex + 1 }">
    <div slot="header" class="question-card-header">
      <span class="mr-4 font-semibold">{{ activeQuestionIndex + 1 }} / {{ questions.length }}</span>
      <div class="step-indicator-wrapper">
        <div class="step-indicator font-semibold text-sm"></div>
      </div>
    </div>
    <sl-form style="display: contents">
      <div class="flex flex-col gap-2">
        <div class="flex flex-row items-start mb-4 gap-2 text-xl">
          <sl-badge class="mt-1" pill>{{ activeQuestionIndex + 1 }}</sl-badge>
          <span class="font-semibold">{{ activeQuestion.title }}</span>
        </div>
        <div *ngIf="activeQuestion.imageURI">
          <img [src]="activeQuestion.imageURI" class="max-h-64" />
        </div>
        <ng-container *ngIf="!activeQuestion.multiSelect">
          <sl-radio-group label="Select an option" no-fieldset (sl-change)="handleAnswerInput($event)" class="ml-8">
            <sl-radio
              *ngFor="let option of activeQuestion.options; let i = index"
              [value]="i"
              [checked]="activeQuestion.selectedAnswer?.has(i)"
            >
              {{ alphabet[i] }}. {{ option.title }}
            </sl-radio>
          </sl-radio-group>
          <span class="text-md mt-2">(Select one option)</span>
        </ng-container>
        <ng-container *ngIf="activeQuestion.multiSelect">
          <div class="flex flex-col ml-8">
            <sl-checkbox
              *ngFor="let option of activeQuestion.options; let i = index"
              [name]="'option-' + i"
              [checked]="activeQuestion.selectedAnswer?.has(i)"
              (sl-change)="handleAnswerInput($event, i)"
            >
              {{ alphabet[i] }}. {{ option.title }}
            </sl-checkbox>
          </div>
          <span class="text-md mt-4">(Select all that apply)</span>
        </ng-container>
      </div>
    </sl-form>
  </sl-card>
  <sl-card>
    <div class="flex flex-row justify-between items-center">
      <sl-button (click)="handleClickPrev()" [style]="{ opacity: activeQuestionIndex > 0 ? 1 : 0 }">Previous</sl-button>
      <div *ngIf="settings.timeLimit" class="text-center">
        <sl-badge type="neutral" class="time-left" pill>{{ timeLeft | date: dateFmt }} </sl-badge>
      </div>
      <sl-button type="primary" (click)="handleClickNext()" [hidden]="activeQuestionIndex === questions.length - 1"
        >Next</sl-button
      >
      <sl-button type="success" (click)="handleClickSubmit()" [hidden]="activeQuestionIndex < questions.length - 1"
        >Submit</sl-button
      >
    </div>
  </sl-card>
</div>
