<div class="flex flex-col gap-2 pb-12 justify-stretch w-full">
  <app-card-header [title]="settings?.quiz?.title"
    subtitle="Question {{ activeQuestionIndex + 1 }} of {{ questions.length }}" [loading]="loading"
    [visible]="!!(activeQuestion && settings)" icon="compass">
  </app-card-header>
  <ng-container *ngIf="!loading && activeQuestion && settings">
    <sl-card
      class="question-card"
      [style]="{ '--question-count': questions.length, '--question-index': activeQuestionIndex + 1 }"
    >
      <!-- <div slot="header" class="question-card-header">
        <div class="step-indicator-wrapper">
          <div class="step-indicator font-semibold text-sm"></div>
        </div>
      </div> -->
      <div slot="header" class="flex flex-row items-start gap-2 text-xl">
        <sl-badge variant="neutral" pill>{{ activeQuestionIndex + 1 }}</sl-badge>
        <span class="font-semibold">{{ activeQuestion.title }}</span>
      </div>
      <form style="display: contents">
        <div class="flex flex-col gap-4">
          <div class="flex flex-row">
            <div *ngIf="!imageLoading && !!image">
              <img [src]="image" class="max-h-64" />
            </div>
            <div *ngIf="imageLoading" class="image-placeholder">
              <div>
                <sl-spinner></sl-spinner>
              </div>
            </div>
            <div *ngIf="!activeQuestion.multiSelect" class="ml-8">
              <sl-radio-group [value]="activeQuestion.selectedAnswer?.[0]" (sl-change)="handleAnswerInput($event)">
                <sl-radio
                  *ngFor="let option of activeQuestion.options; let i = index"
                  [value]="option.id"
                >
                  {{ alphabet[i] }}. {{ option.title }}
                </sl-radio>
              </sl-radio-group>
            </div>
            <div *ngIf="activeQuestion.multiSelect" class="flex flex-col gap-4 ml-8">
              <sl-checkbox
                *ngFor="let option of activeQuestion.options; let i = index"
                [name]="'option-' + i"
                [value]="option.id"
                [checked]="activeQuestion.selectedAnswer?.includes(option.id)"
                (sl-change)="handleAnswerInput($event)"
              >
                {{ alphabet[i] }}. {{ option.title }}
              </sl-checkbox>
            </div>
          </div>
        </div>
      </form>
    </sl-card>
    <sl-card>
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row gap-4">
          <sl-button (click)="handleClickPrev()" [disabled]="activeQuestionIndex === 0">Previous</sl-button>
          <sl-button (click)="handleClickNext()" [hidden]="activeQuestionIndex === questions.length - 1">Next</sl-button>
          <sl-button
            variant="primary"
            (click)="handleSubmit()"
            [hidden]="activeQuestionIndex < questions.length - 1" [loading]="submitting"
          >
            Submit
          </sl-button>
        </div>
        <div *ngIf="timeLeft !== undefined" class="text-center">
          <sl-badge variant="neutral" class="time-left" pill>{{ getTimer() }}</sl-badge>
        </div>
        <div class="flex flex-row gap-4">
          <sl-button variant="danger" (click)="handleAbandon()" outline>Abandon</sl-button>
        </div>
      </div>
    </sl-card>
  </ng-container>
</div>
<sl-dialog label="Warning" #unfinishedDialog>
  You have not finished answering all questions.
  <sl-button slot="footer" (click)="closeDialog(unfinishedDialog)">Continue</sl-button>
</sl-dialog>
<sl-dialog label="Abandon" #abandonDialog>
  WARNING: if you abandon now, quiz progress will not be saved and you will have to take it again. Are you sure you want to do that?
  <div slot="footer" class="dialog-footer">
    <sl-button (click)="closeDialog(abandonDialog);">Cancel</sl-button>
    <sl-button variant="danger" (click)="handleAbandonConfirm();">Confirm</sl-button>
  </div>
</sl-dialog>
<sl-dialog label="Time is up" (sl-hide)="submitAssessment()" #timesUpDialog>
  Your time has run out. The assessment will now be submitted.
  <sl-button slot="footer" variant="primary" (click)="closeDialog(timesUpDialog)">Close</sl-button>
</sl-dialog>
<sl-dialog label="Submit" #submitDialog>
  WARNING: this are about to submit your answers. Are you sure you want to do that?
  <div slot="footer" class="dialog-footer">
    <sl-button (click)="closeDialog(submitDialog);">Cancel</sl-button>
    <sl-button variant="success" (click)="handleSubmitConfirm();">Submit</sl-button>
  </div>
</sl-dialog>
<sl-dialog label="Complete" (sl-hide)="afterSuccessDialogClose()" #successDialog>
  You have successfully submitted your answers! You will now be redirected to the home page where you can see your results.
  <sl-button slot="footer" variant="primary" (click)="closeDialog(successDialog)">Close</sl-button>
</sl-dialog>
<sl-dialog label="Error" #errorDialog>
  An error has occurred while submitting the assessment. Please try again.
  <sl-button slot="footer" (click)="closeDialog(errorDialog)">Continue</sl-button>
</sl-dialog>
