<div class="quizmkr">
  <div class="quizmkr-spacer"></div>
  <div class="flex flex-col flex-1 sm:max-w-screen-md md:max-w-screen-xl xl:max-w-56 2xl:max-w-64">
    <div class="logo text-4xl text-center font-light pt-16 flex flex-row items-center place-content-between gap-x-2">
      {{ appTitle }}
    </div>
    <div class="quizmkr-nav flex flex-row place-content-between pt-12 pb-12">
      <sl-button-group>
        <sl-button
          *ngFor="let link of menuLinks"
          size="large"
          variant="{{ isRouteActive(link) ? 'primary' : 'default' }}"
          (click)="onNavigate(link)"
        >
          <sl-icon slot="prefix" name="{{ link.icon }}"></sl-icon>{{ link.title }}
        </sl-button>
      </sl-button-group>
      <sl-button
        size="large"
        variant="{{ auth.authenticating || loggedIn ? 'default' : 'success' }}"
        (click)="loggedIn ? auth.logout() : auth.login()"
        [disabled]="auth.authenticating"
      >
        <sl-icon slot="suffix" name="{{ loggedIn ? 'box-arrow-in-right' : 'door-open' }}"></sl-icon
        >{{ auth.authenticating && !loggedIn ? 'Logging in...' : loggedIn ? 'Log out' : 'Log in' }}
      </sl-button>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="quizmkr-spacer"></div>
</div>
<div class="theme-switch flex flex-row items-center absolute p-4 right-0" [class.checked]="darkMode">
  <sl-icon class="pr-2" name="{{ darkMode ? 'moon' : 'sun' }}"></sl-icon>
  <sl-switch (sl-change)="toggleTheme()" [checked]="darkMode"></sl-switch>
</div>
