.quizmkr {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: flex-start;
  place-content: center;
}

.logo {
  color: var(--text-color-dark);
}

sl-button::part(base) {
  font-size: 1rem;
}

sl-button::part(suffix),
sl-button::part(prefix) {
  font-size: 1rem;
}

.logout-link::part(base) {
  color: var(--sl-color-red-500);
}
