.quizmkr {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: flex-start;
  place-content: center;
}

.quizmkr-sidenav,
.quizmkr-spacer {
  flex: 0 0 10vw;
}
