@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

:root,
:host,
.sl-theme-light,
.sl-theme-dark {
  --sl-font-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--sl-font-sans);
  color: rgba(17, 24, 39);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-attachment: fixed;
  transition: background-image 100ms ease;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sl-theme-dark body {
  color: rgba(249, 250, 251);
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

sl-card::part(header) {
  background-image: linear-gradient(
    135deg,
    rgb(var(--sl-color-blue-gray-50)) 0%,
    rgb(var(--sl-color-blue-gray-300)) 100%
  );
}

app-root {
  display: flex;
  flex-direction: column;
  overflow: overlay;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #0000001a; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--sl-color-gray-300)); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(var(--sl-color-gray-300)); /* creates padding around scroll thumb */
}

.sl-theme-dark {
  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--sl-color-gray-400)); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(var(--sl-color-gray-400)); /* creates padding around scroll thumb */
  }
}
