@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './theme.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--sl-font-sans);
  color: var(--app-text-color);
  background: var(--app-background);
  background-attachment: fixed;
  transition: background-image 100ms ease;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #0000001a;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--sl-color-gray-300);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--sl-color-gray-300);
  /* creates padding around scroll thumb */
}

.sl-theme-dark {
  ::-webkit-scrollbar-thumb {
    background-color: var(--sl-color-gray-400);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--sl-color-gray-400);
    /* creates padding around scroll thumb */
  }
}
